# Download the highest quality version of a video
alias ydl="youtube-dl -f bestvideo+bestaudio"
# Download the highest quality version of the audio from a video
alias ydla="youtube-dl -x --audio-quality 0"

# Clean up LaunchServices to remove duplicates in the “Open With” menu
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"

