[user]
  name = Brian Mitchell
  email = bman4789@gmail.com
  signingkey = 1ED7FCF6
[core]
  excludesFile = /Users/brianmitchell/.gitignore_global
[push]
	autoSetupRemote = true
[pull]
  rebase = true
[credential]
  helper = osxkeychain
[color]
  ui = auto
[commit]
  gpgsign = true
[init]
	defaultBranch = main
[tag]
	gpgsign = true
	sort = version:refname
[diff]
	algorithm = histogram
[column]
	ui = auto
[branch]
	sort = -committerdate
